@font-face {
    font-family: 'Elowen';
    src: url('Elowen.eot');
    src: url('Elowen.eot?#iefix') format('embedded-opentype'),
        url('Elowen.woff2') format('woff2'),
        url('Elowen.woff') format('woff'),
        url('Elowen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('ProductSans-Thin.eot');
    src: url('ProductSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('ProductSans-Thin.woff2') format('woff2'),
        url('ProductSans-Thin.woff') format('woff'),
        url('ProductSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
html, body{
    padding: 0;
    margin: 0;
}
.publix-block{
    background-image: url(./images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6.5em 0;
    background-position: center;
}
.publix-wrapper{
    background-color: #fff;
    border-radius: 50%;
    padding: 2em;
    width: 835px;
    height: 835px;
    margin: 0 auto;
}
.publix-contacts{
    font-family: 'Product Sans', sans-serif;
    font-size: 2rem;
    color: #282f58;
    text-align: center;
}
.publix-contacts__title{
    color: #704986;
    font-family: 'Elowen', sans-serif;
    margin-top: 1.5em;
    font-size: 42px;
    margin-bottom: 0.5em;
}
.publix-contacts__title.pct2{
    margin-top: 1.3em;
}
.publix-contacts__logo img{
    width: 400px;
    display: block;
    margin: 2em auto 1em;
}
.publix-contacts__line{
    margin-bottom: 1em;
}
.publix-contacts__line p {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 32px;
}
.publix-contacts__info{
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 100;
    margin-top: 0;
    line-height: 32px;
}
.publix-contacts__info a{
    text-decoration: none;
    color: #282f58;
    transition: .25s;
}
.publix-contacts__info a:hover, .publix-contacts__info a:focus{
    color: #704986;
}
@media screen and (min-width: 992px){
    body{
        height: 100vh;
    }
}
@media screen and (max-width: 900px) {
    .publix-wrapper{
        width: 90%;
        height: auto;
        border-radius: 0;
        padding: 1em;
    }
}
@media screen and (max-width: 576px){
    .publix-block{
        padding: 2em 0;
    }
    .publix-contacts__logo img{
        width: 100%;
    }
    .publix-contacts__line p, .publix-contacts__info{
        font-size: 18px;
        line-height: 24px;
    }
    .publix-contacts__title{
        font-size: 30px;
    }
}
